.ba-section-about{
	padding-top: 100px;
}
.about-logo{
	padding-bottom: 115px;
	margin: 0 auto;
	display: block;
}

.tabs{
	padding: 0 50px 130px;
	
}
.tabs-title{
	color: #1c1c1b;
font-family: Oswald;
font-size: 30px;
font-weight: 400;
line-height: 75px;
text-transform: uppercase;
/* Text style for "W, HAT IS" */
letter-spacing: 6px;
}