<section id="about" class="ba-section-about ba-section">
<img class="about-logo" src="assets/img/Trust_Icons.png" alt="trust">
	<ul class="tabs" data-tabs id="example-tabs">
		<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">WHAT IS CBD?</a></li>
		<li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">BENEFITS</a></li>
		<li class="tabs-title"><a data-tabs-target="panel3" href="#panel2">OUR DIFFERENCE</a></li>
	</ul>
	<div class="tabs-content" data-tabs-content="example-tabs">
		<div class="tabs-panel is-active" id="panel1">
			<div class="row">
				<div class="column small-12 medium-6 large-5 ">
					<h3>WHAT IT IS AND HOW IT WORKS</h3>
					<p>Suspendisse dictum feugiat nisl ut dapibus.</p>
					<p>Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.</p>
					<p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
				</div>
				<div class="column small-12 medium-6 large-7">
					<img src="assets/img/intro1.jpg" alt="photo">
					<img src="assets/img/intro2.jpg" alt="photo">
				</div>
			</div>				 
		</div>

		<div class="tabs-panel" id="panel2">
			<div class="row">				
				<div class="column small-12 medium-6 large-7">
					<img src="assets/img/intro1.jpg" alt="photo">
					<img src="assets/img/intro2.jpg" alt="photo">
				</div>
				<div class="column small-12 medium-6 large-5 ">
					<h3>WHAT IT IS AND HOW IT WORKS</h3>
					<p>Suspendisse dictum feugiat nisl ut dapibus.</p>
					<p>Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.</p>
					<p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
				</div>
			</div>
		</div>

		<div class="tabs-panel" id="panel3">
			<div class="row">
				<div class="column small-12 medium-6 large-5 ">
					<h3>WHAT IT IS AND HOW IT WORKS</h3>
					<p>Suspendisse dictum feugiat nisl ut dapibus.</p>
					<p>Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.</p>
					<p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
				</div>
				<div class="column small-12 medium-6 large-7">
					<img src="assets/img/intro1.jpg" alt="photo">
					<img src="assets/img/intro2.jpg" alt="photo">
				</div>
			</div>		
		 </div>
	 </div>
</section>